<!DOCTYPE html>
<html>
<%- include('head') %>

<body>
  <header>
    <h1>Admin Panel</h1>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>Account</th>
          <th>Username</th>
          <th>Authed</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Streamer</td>
          <td><code><%= streamer.username %></code></td>
          <td><%= streamer.authed ? 'Yes ✔️' : 'No ❌' %></td>
        </tr>
        <tr>
          <td>Bot</td>
          <td><code><%= bot.username %></code></td>
          <td><%= bot.authed ? 'Yes ✔️' : 'No ❌' %></td>
        </tr>
        <tr>
          <td>Admin</td>
          <td><code><%= admin.username %></code></td>
          <td><%= admin.authed ? 'Yes ✔️' : 'No ❌' %></td>
        </tr>
      </tbody>
    </table>
    <% if(chatTestMode) { %>
    <h3>Test commands</h3>
    <p class="button-row">
      <% for(const command of testCommands) { %>
      <a class="button button-small" href="#" onclick="fetch('test?command=<%= command %>',{method:'POST'})">Test !<%= command %></a>
      <% } %>
    </p>
    <h3>Test events</h3>
    <p class="button-row">
      <% for(const event of testEvents) { %>
      <% if(event ==='stream-online') { %>
    <form action="test?event=stream-online" method="post" enctype="multipart/form-data">
      <input name="streamID" type="number" required value="1">
      <input type="submit" value="Test stream-online" class="button button-small" />
    </form>
    <% } else { %>
    <a class="button button-small" href="#" onclick="fetch('test?event=<%= event %>',{method:'POST'})">Test <%= event %></a>
    <% } %>
    <% } %>
    </p>
    <% } %>
    <h3>Logging</h3>
    <p class="button-row">
      <% for(const log of testLogs) { %>
      <a class="button button-small" href="#" onclick="fetch('test?log=<%= log %>',{method:'POST'})">Log <%= log %></a>
      <% } %>
    </p>
    <% if(bot.authed) { %>
    <h3>Chat</h3>
    <form action="test?chat=send" method="post" enctype="multipart/form-data">
      <input name="message" type="text" required>
      <input type="submit" value="Send" class="button button-small">
    </form>
    <% } %>
    <details>
      <summary>View full database</summary>
      <pre><%- db %></pre>
    </details>
    <p><a href="unlink">Sign out</a></p>
  </main>
  <%- include('highlight') %>
</body>

</html>